.table {

    //justify-content: space-between;

    // not working
    //  .tb_LP{
    //    background: aqua  !important;
    //    font-size: 32px;
    // }
    
    .datagrid {
        width: 100%;
        height: 300px;

        
    }

    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status {

        padding: 5px;
        border-radius: 5px;
        display: inline-block;


        &.InStock {
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.153);


        }

        &.OutOfStock {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);

        }
    }

    .viewButton {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 2px 5px;
        border-radius: 5px;
        color: green;
        background-color: greenyellow;
        border: 1px dotted greenyellow;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.90);
        }
    }

    .no_data {
        .tableCell {

            text-align: center;
            //margin: auto;
            justify-content: center;
            color: rgb(4, 136, 70);
            font-weight: 700;
            font-size: 24px;
            //background-color: #461919;
        }
    }
}