.coach{
    margin-left: 100px ;
    padding-left: 100px ;
    .nav{
        padding-left: 100px ;
      
    }

    .coach_slide{
        padding-left: 100px ;
    }

    .package{
        padding-left: 100px ;
    }

    .comment{
        padding-left: 100px ;
    }

    .bottom{
        padding-left: 100px ;
    }

    

}