.coach {
  background-color: #f4f0f0;
  padding: 30px;
}

.header-container {
  
  background-color: black;
  padding: 20px;
  border-radius: 5px;


}

.header-container h1 {
  color: rgb(255, 247, 247);
  margin: 0;
  font-size: 36px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.join_btn,
.learn_more_btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #7d7b7bb0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join_btn:hover,
.learn_more_btn:hover {
  background-color: #000000;

}

/* Add a CSS reset 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Add some basic styles for the page 
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }*/

.coach {
  /*max-width: 960px;*/
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.header-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #f0eaea;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.join_btn,
.learn_more_btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #060606;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.join_btn:hover,
.learn_more_btn:hover {
  background-color: #d9302d;
}

.subsCribtionImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.subsCribtionImg img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 9px 3px 8px 7px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.subsCribtionImg img:hover {
  transform: scale(1.1);
}

.bundled-packages-container {
  text-align: center;
  margin-bottom: 40px;
}

.bundled-packages-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.bundled-packages-container h5 {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.bundled-packages-container p {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  line-height: 1.5;
}

.why-select-bundle-container {
  text-align: center;
  margin-bottom: 40px;
}

.why-select-bundle-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.why-select-bundle-container h3 {
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}

.why-select-bundle-container p {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

// input[type="submit"] {
//   background-color: #4CAF50;
//   color: white;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// input[type="submit"]:hover {
//   background-color: #45a049;
// }

.error {
  color: red;
  margin-top: 5px;
}

.bundelImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.bundelImg img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 9px 3px 8px 7px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.bundelImg img:hover {
  transform: scale(1.1);
}

.banner-image {
  width: 100%;
  max-height: 600px;
  /* set a maximum height for the image */
  object-fit: cover;
  /* scale the image to fill its container */
}
.submit-btn{
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #060606;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.submit-btn:hover {
  background-color: #d9302d;
}



.elementor-heading-title {
  color: #FF0000;
  font-family: "League Spartan", Sans-serif;
  font-size: 80px;
  font-weight: 600;
}
.elementor-heading-title {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.elementor-joining{
  color: #000000;
    font-family: "League Spartan", Sans-serif;
    font-size: 95px;
    font-weight: 600;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input,
.select,
.textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.select {
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
  padding-right: 1.5rem;
}
.discription_b{
  background-color: #ffffffe5;
  

}
.join-form-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background:  radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background-size: 400% 400%, cover;
  animation: gradient 15s ease infinite;
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}