.app.dark {

    background-color: #222;
   
    color: rgb(156, 156, 156);

    input {
        color: white;
    }

    //-----------------------------------------------------------------------start of dashboard-------------------------------------------------------------------------------------------------
    .home {

        .widget,
        .chart,
        .featured,
        .listContainer {
            -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
        }



        .chartGrid {
            stroke: rgba(228, 228, 228, 0.219);

        }

        //table dashboard
        .latest {

            .listContainer,
            .Product_listContainer {
                -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            }

            .Product_listTitle {
                color: rgb(170, 170, 168);
            }

        }

        .table {
            background-color: #111;

            .tableCell,
            .cellWrapper {
                color: gray;
            }
        }

        .navbar {
            color: #999;
            border-color: #333;

            .search {
                border-color: gray;
            }
        }

       

    }
    .navbar{
        color: white;
        background-color: #292929;
    }
    
    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            background-color: #202020;
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;

        }

        ul {
         
            li {
                span{
                    color: #c7c7c8;
                }
                &:hover {

                    background-color: #333;

                }

                .iocn{
                    color: #c6c644;
                    //background-color: rgba(128, 0, 128, 0.43);
                }
            }
        }
    }
    //--------------------------------------------------------end of dashboard------------------------------------------------------------------------------



    //---------------------------------------------------------start of other new parts------------------------------------------------------------------------------------------------------------------------
    .datatable {
        .datagrid {
            color: gray;
            border: none;

            .viewButton,
            .deleteButton,
            .cellWithStatus {
                color: gray;
                border: none;
            }
        }


    }

    input {
        background-color: transparent;
    }

    //-----------------------------------------------------------end of other new parts---------------------------------------------------------------------------


    //--------------------------------------------------------------Start of product---------------------------------------------------------------------------
    //all categories---
    .categories {
        .datatable {

            .Category_all_title,
            .Category_add {
                color: rgb(114, 203, 227);

                .all {}
            }

            .Cat_datagrid,
            .cat_add_from {
                color: rgb(128, 128, 128);
                border: none;

                .viewButton,
                .deleteButton,
                .cellAction {
                    color: rgb(172, 169, 169);
                    border: none;
                }

                .viewButton {
                    color: rgb(172, 169, 169);
                    border: none;
                    background-color: rgba(8, 8, 192, 0.395);
                }

                .deleteButton {
                    color: rgb(172, 169, 169);
                    background-color: rgba(154, 12, 41, 0.659);
                }
            }


            .Category_all_title,
            .Cat_datagrid,
            .Category_add,
            .cat_add_from {
                -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            }

            .cat_btn {
                color: rgb(172, 169, 169);
                border: none;
                background-color: rgba(8, 8, 192, 0.395);
            }
        }
    }

    //all products-----------------------------
    .pro_table {
        background-color: #222;

        .datatable {
            .datatableTitle {
                color: rgb(0, 200, 255);
            }

            .datagrid {
                color: rgb(128, 128, 128);
                border: none;

                .viewButton,
                .deleteButton,
                .cellAction {
                    color: rgb(172, 169, 169);
                    border: none;
                }

                .viewButton {
                    color: rgb(172, 169, 169);
                    border: none;
                    background-color: rgba(8, 8, 192, 0.395);
                }

                .deleteButton {
                    color: rgb(172, 169, 169);
                    background-color: rgba(154, 12, 41, 0.659);
                }
            }


            .datatableTitle,
            .datagrid {
                -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
                box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            }
        }
    }


    //new---
    .newContainer {

        .top,
        .bottom {
            -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
        }

        .right {
            .P_cat {
                color: rgb(172, 169, 169);
                background-color: transparent;
            }

            .Description {
                color: rgb(172, 169, 169);
                background-color: transparent;
            }
        }
    }

    //single products--------
    .pro_single {
        background-color: #222;
        width: 100vw;

        .top_pre {
            -webkit-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);
            box-shadow: 6px 6px 11px 0px rgba(255, 255, 255, 1);

            .pre_title {
                color: rgb(0, 200, 255);

                button {
                    background: #ffc800;
                }
            }

            .animation_p_id{
                .p_details{
                    background-color: #2f2f2f;
                }
            }
        }
    }

    //-----------------------------------------------------------------end of product-------------------------------------------------------------

    
}