.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top,
        .bottom {
            box-shadow: 10px 11px 23px 0px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 10px 11px 23px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 10px 11px 23px 0px rgba(0, 0, 0, 0.25);
            padding: 10px;
            margin: 20px;
            display: flex;

            h1 {
                color: lightgray;
                font-size: 20px;
            }

            .left {
                flex: 1;
                text-align: center;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;

                }
            }

            .right {
                flex: 2;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            cursor: pointer;
                        }
                    }

                    .formInput {
                        width: 40%;

                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    .submitbtn {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: Orange;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                        margin-right: 25px;
                        //transition: transform 0.5s ease-out;

                        &:disabled {
                            background-color: rgba(182, 120, 5, 0.378);
                            cursor: not-allowed;
                        }


                        &:active {
                            transform: scale(0.90);
                        }

                    }


                }
            }
        }
    }

}





