.directPay {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: radial-gradient(circle, rgb(47, 47, 47) 0%, rgb(255, 255, 255) 100%);
  animation: gradient 15s ease infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-size: 400% 400%, cover;

  .formcontainer {
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 5px;
    background:#ffffff57;
    
    

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-top: 1rem;
      }

      input {
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        font-size: 1rem;
      }

      button[type="submit"] {
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        background-color: #FF0000;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }



}